@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    padding: 0px;
    margin: 0px;
    background-color: #FBFFF1;
    font-family: 'EB Garamond', serif;
}

#grid-container {
    height: 512px;
    width: 512px;
    border: 1px solid #37393a;

}

.square {
    background-color: #FBFFF1;
}

.img {
    height: 150px;
}

.mode {
    height: 100px;
}

.mode-container {
    display: flex;
}

.choice {
    border: 1px solid #37393a;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 10px;
}

.choice:hover {
    cursor: pointer;
}

.choice h3 {
    pointer-events: none;
}

.choice.selected {
    border: 2px solid #d87d06;
}

.color {
    height: 48px;
    width: 48px;
    border: 1px solid #37393a;
    cursor: pointer;
}

.colors-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

header, footer {
    background-color: #37393a;
    color: #FBFFF1;
    padding: 20px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hovered {
    background-color: black;
}

.grid-row {
    display: flex;
}

#main-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 150px;
}

.rainbow-button {
    color: #FBFFF1;
    background-color: #37393a;
    font-size: 1.5rem;
    border: 1px solid #37393a;
    padding: 10px;
}

.rainbow-button.onclick {
    background-color: #FBFFF1;
    color: #37393a;
}

.rainbow-button:hover {
    cursor: pointer;
}

.radial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radial p {
    font-size: 1.5rem;
}

.radial-menu {
    position: relative;
}

#first-mode {
    position: absolute;
    top: -10px;
    left: 70px;
    z-index: 1;
}

#second-mode {
    position: absolute;
    right: -10px;
    bottom: 70px;
    z-index: 1;
}

#third-mode {
    position: absolute;
    bottom: -10px;
    left: 70px;
    z-index: 1;
}

#fourth-mode {
    position: absolute;
    left: -10px;
    bottom: 70px;
    z-index: 1;
}

.dims {
    margin-bottom: 20px;
}

#selected-color {
    width: 72px;
    height: 72px;
    pointer-events: none;
}

.img-radial {
    z-index: -1;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-panel > * {
    margin-bottom: 40px;
}

.colors-container.inactive {
    pointer-events: none;
}